PORT=5000
FIREBASE_SERVICE_ACCOUNT=./service-account.json
JWT_SECRET=smart-evaluate-super-secret-key-2026
QR_SIGNING_SECRET=qr-secure-expo-signing-key-2026
# Optional: Set environment to production or development
NODE_ENV=development
